body{
background-color: #ec5858;

}

h1{
  text-align: center;
color: White;
font-family: Consolas;
}

hr{
border-style: dotted;
border-top: 0;
border-width: 10px;
width: 20%;
margin-bottom: 30px;
border-color: White;
}

img{
width: 100%;

}
